<div class="slides">

  {{#if (eq slidesService.current.type 'video')}}

    {{x-video-slide src=slidesService.current.src}}

  {{else}}

    {{#x-slide}}
      {{component
        currentComponentPath
        slidesService=slidesService
      }}
    {{/x-slide}}

  {{/if}}

</div>
